$base-color: #1976d2;
$color-gray: #adb5bd;
$gray-text-color: #737f8b;
$base-radius: 8px;
$base-fillment-color: #f7f7f7;
$base-border-color: #ddd;
$danger-color: #f32013;
$track-hover-color: #f2f3f4;
$color-white: #fff;
